.header-section {
    background-image: url(images/backgroundimage.jpg);

    height: 540px;
}

.image-height {
    height: 340px;
    width: 240px;
}

.bg-img {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    width: full;
    height: 600px;

}

.feature {
    background-color: rgba(240, 249, 255, 1);
    height: 630px;
}

.color-back {
    background-color: rgba(240, 249, 255, 1);

}

.background-img {
    background-image: url(images/pocket1.jpg);

    background-position: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 20px 5px;
    border: none;
    width: 500px;
    height: 335px;



}

.review {
    background-color: rgba(240, 249, 255, 1);
    height: 400px;

}

.form-container {
    height: 700px;
    background-image: url(images/new.jpg);
}

.form {
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    cursor: default;
}

.product {
    height: 300px;
}



.input-field {

    max-height: 65;
    transition: max-height 0.5s;
    overflow: hidden;
}

.button-inup {
    color: rgb(25, 93, 120);
}

.disable {
    color: skyblue;
}

.border-td {
    border: 1px solid white;
}

.footer {
    background-image: url(images/foldpant.jpg);
    height: 250px;
}


@media(max-width:954px) {
    .header-section {
        background-image: url(images/backgroundimage.jpg);

        height: 900px;
    }

    .font-image {
        height: 250px;
        width: 300px;
        margin: auto;
        margin-top: 10px;

    }

    .product-info {
        height: 300px;
    }

    .product {
        height: 1200px;
    }

    .review {
        height: 900px;
    }

    .form-container {
        height: 1000px;
    }

    .footer {
        height: 400px;
    }
}